<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechShop</title>
</head>
<body>
    <header>
        <h1>Multimedia</h1>
    </header>
    <aside>
        <h1>Multimedia</h1>
        <p>Incorporacion de recursos multimedia.</p>
    </aside>
    <section>
        <h2>Uso de multimedia</h2>
        <article>
            <h3>Musica Celta</h3>
            <audio controls>
                <source src="src/main/resources/static/audio/celtic.mp3" type="audio/mpeg">
                Your browser does not support the <code>audio</code> element.
        </article>
        <article>
            <h3>Pelicula de Accion</h3>
            <video controls>
                <source src="src/main/resources/static/video/accion.mp4" type="video/mp4">
                Your browser does not support the <code>video</code> element.
        </article>
    </section>
    <footer>
        <h3>Todos los Derechos Reservados TechShop 2025 &COPY;</h3>
    </footer>
</body>
</html>